.popup-wrapper
  .popup-container
    .pc-header
      .close
      h2 Напишите нам!
      p Если вы столкнулись с проблемой, или у вас есть вопрос по работе сервиса, а так же предложения, напишите нам.
    form.form
      input(type="text" placeholder="Ваше Имя")
      input(type="text" placeholder="Ваш E-mail")
      textarea(placeholder="Ваше сообщение")
      input.btn.orange(type="submit" value="Отправить")