.popup-account
  .pc-head
    img.accaunt-img(src="../images/face.jpg")
    h3 ООО "Лабиринт"
  .pc-nav
    ul
      each val in ["Редактировать профиль","Тариф","Помощь","Пункт меню","Выход"]
        li
          a(href="#")
            = val
