.popup-account
  .pc-head
    img.accaunt-img(src="../images/face.jpg")
    h3 ООО "Лабиринт"
  .pc-nav
    .pa-info
      .name login
      .mail  name@name.ru
    ul
      each val in ["Редактировать профиль","Помощь","Выход"]
        li
          a(href="#")
            = val
