.popup-wrapper-blur.element-show(data-showEl="1")
.popup-wrapper.element-show(data-showEl="1")
  .popup-container
    .pc-header
      .close
      h2 Вход в личный кабинет
    form.form
      input(type="text" placeholder="Ваше Логин")
      input(type="passwod" placeholder="Ваш пароль")
      input.btn.orange(type="submit" value="Войти")
      .form-link
        div
          a(href="#") Забыли пароль
        div 
          a(href="#") Регистрация организатора