$blackColor: #444444;

$grayColor: #a4a4a4;

$grayLiteColor: #f6f7fa;

$whiteColor: #ffffff;

$yellowColor: #D4AF93;

$orangeColor: #feb25d;

$grayColorLite: #EFEFEF;

$shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);

$littleSize: 12px;

$smallSize: 14px;

$standartSize: 18px;

$mediumSize: 24px;

$middleSize: 36px;

$largeSize: 48px;

$hugeSize: 60px;