doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
    
		include default/header-black.pug
		// header

		.stub
		
		.canvas-container
			canvas#canvas(width="1920px" height="860px")