doctype html
html
	body

		// head
		include default/head.pug 
		// head

		// header
		include default/header.pug
		// header
		.wrapper
			.main-section
				.line-1
				.line-2
				
				.move-element.triangle.triangle-1(data-parallaxify-range-x="-30" data-parallaxify-range-y="-30")
				.move-element.triangle.triangle-2(data-parallaxify-range-x="-50" data-parallaxify-range-y="-20")
				.move-element.triangle.triangle-3(data-parallaxify-range-x="-20" data-parallaxify-range-y="-40")
				.move-element.cube.cube-2(data-parallaxify-range-x="-40" data-parallaxify-range-y="-20")
				.move-element.cube.cube-3(data-parallaxify-range-x="-20" data-parallaxify-range-y="-70")

				.main-grid
					.front-about
						h1 Платформа для поиска мероприятий для личного и професионального роста
						p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare.
						.btn-wc
							a.btn.white(href="#") Скачать в AppStore
							a.btn.white(href="#") Скачать в PlayMarket
					.mobile-box
						img.shadow(src="../images/shadow.png") 
						img(src="../images/group.png") 
			//- .section-text
			.section-text
				.line-3
				.move-element.triangle.orange.triangle-5(data-parallaxify-range-x="-50" data-parallaxify-range-y="-20")
				.move-element.cube.orange.cube-4(data-parallaxify-range-x="-60" data-parallaxify-range-y="-10")
				.move-element.cube.orange.cube-5(data-parallaxify-range-x="-40" data-parallaxify-range-y="-20")
				.main-grid
					h2
						| Заголовок в строку
						| Заголовок первый
					.description
						|Это платформа для организаторов и людей которым интересны мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей, путем понятной, структурированной информации о мероприятиях, распределенным по категориям, которым им интересны, которые проходят в городах. Организаторы же найдут у нас удобный сервис для взаимодействия и поиска потенциальных клиентов.
			//- .section-text

			//- .section-phone
			.section-phone
				.line-4
				.move-element.triangle.orange.triangle-6(data-parallaxify-range-x="-50" data-parallaxify-range-y="-20")
				.move-element.cube.orange.cube-8(data-parallaxify-range-x="-60" data-parallaxify-range-y="-10")
				.move-element.cube.orange.cube-9(data-parallaxify-range-x="-40" data-parallaxify-range-y="-20")
				h2.global
					span Надзаголовок
					| Надзаголовок в длинную строку
				.main-grid
					.mobile-box
						img(src="../images/mobile-2.png")
					.sp-about
						.tabs-container
							a.active(href="#") Организаторам
							a(href="#") Пользователям
						p Это платформа для организаторов и людей которым интересны мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей.
						.sp-list
							li 
								|Это платформа для организаторов и людей которым интересны мастер классы, обучение, 
								b мероприятия.
							li 
								|Это платформа для организаторов и людей которым интересны мастер классы, обучение, 
								b мероприятия.
							li 
								|Это платформа для организаторов и людей которым интересны мастер классы, обучение, 
								b мероприятия.
						.btn-wc
							a.btn.orange(href="#") Регистрация личного кабинета
			//- .section-phone

			//- .section-event
			.section-event
				.move-element.cube.orange.cube-10(data-parallaxify-range-x="-60" data-parallaxify-range-y="-10")
				.move-element.cube.orange.cube-11(data-parallaxify-range-x="-40" data-parallaxify-range-y="-20")
				h2.global
					span Надзаголовок
					| Последние мероприятия, размещенные организаторами
					br
					| на нашем сервисе
				.event-container.owl-event.owl-carousel
					each val in ["Curabitur lobortis id la. Quismet risus.","Curabitur lobortis id lorem id bibendum. Ut id consectet","Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus.","Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus.","Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus.","Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus.","Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus."]
						.event-item
							.ei-head
								.data 
									i 
									| 2 Июня 12:30
								.category-name Категория мероприятия
							h3 Заголовок размещенного мероприятия в несколько…
							.description 
								= val
							.ei-footer
								.place 
									i
									| Новосибирск
								.btn-wc
									a(href="#").btn.orange-border.small Подробнее
					.nav-container
						.nav.nav-prev
						.nav.nav-next
			//- .section-event

			//- .section-review
			.section-review
				.line-5
				h2.global
					span Надзаголовок
					|Отзывы о нашем сервисе от организаторов мероприятий
				.review-container.main-grid.review-owl.owl-carousel
					each val in ["","","",""]
						.review-item
							i
							.ri-text 
								| Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nib. Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh. Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh. Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh.
								br
								| Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh.
							.ri-person
								img(src="../images/face.jpg")
								.ri-name
									h3 Malin Quist
									h4 Директор Google
			//- .section-review

			//- .section-question
			.section-question
				h2.global
					span Надзаголовок
					| Ответы на ваши вопросы
				.question-container.main-grid
					each val in ["","","","","","",""]
						.question-item
							img.qi-ico(src="../images/question.png")
							.ei-text Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh.
							.btn-wc
								a.btn.orange-border.small(href="#") Посмотреть ответ
			//- .section-question

			//- .section-partners
			.section-partners
				h2.global
					span Надзаголовок
					| Присоеденяйтесь, с нами уже работают
				.partners-container
					each val in ["1.png","2.png","3.png","4.png","5.png",]
						.partners-item
							img(src="../images/logo/"+ val)
			//- .section-partners

			//- .section-slider
			.section-slider
				.section-partners
					h2.global
						span Надзаголовок
						| Присоеденяйтесь, с нами уже работают
					.main-grid
						.slider.owl-carousel.slider-owl
							each val in ["","",""]
								.item
									h3 Структурированное представление мероприятий
									.text Это платформа для организаторов и людей которым интересны мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей. И людей мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей. и людей которым интересны мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей.
						.slider-img
							img.mobile-3(src="../images/mobile-3.png")
							img.mobile-3(src="../images/mobile-3.png")
							img.mobile-3(src="../images/mobile-3.png")
			//- .section-slider

				//- .section-slider
			.section-slider
				.section-partners
					h2.global
						span Надзаголовок
						| Возможности для организаторов
					.main-grid
						.slider.owl-carousel.slider-owl
							each val in ["","",""]
								.item
									h3 Структурированное представление мероприятий
									.text Это платформа для организаторов и людей которым интересны мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей. И людей мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей. и людей которым интересны мастер классы, обучение, мероприятия. Наш сервис помогает решить задачу для пользователей.
						.slider-img.slider-img-page
							img.page(src="../images/page.png")
			//- .section-slider

			//- .section-feedback
			.section-feedback
				h2.global
					span Надзаголовок
					| Остались вопросы?
				.main-grid
					.form
						div
							input(type="text" placeholder="Имя Фамилия*")
							input(type="text" placeholder="Email")
							input.phone-mask(type="text" placeholder="Телефон")
							textarea
							input.btn.orange(type="submit" value="Отправить")
					.feedback
						.phone +7 (999) 999-99-99 
						.mail info@domain.com
						.address
							|г. Новосибирск
							br
							|ул. Улица, д. 99, оф. 212
						.social
							a(href="#")
								i.inst
							a(href="#")
								i.fb
							a(href="#")
								i.vk
						.btn-wrap
							a.btn.white.shadow(href="#")
								| Скачать в AppStore
							a.btn.white.shadow(href="#")
								| Скачать в PlayMarket
						.create
							| Дизайн, разработка сайта, разработка приложений: 
							a(href="#") Expil International
			//- .section-feedback