* {
	box-sizing: border-box;
}

body,
html {
	font-family: "regular";
	color: $blackColor;
	font-size: $standartSize;
	min-width: 320px;
	min-height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	position: relative;

}


.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

a {
	color: inherit;
	display: inline-block;

	&:hover {}
}

.ln,
.ln li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.custom-disk {
	li {
		padding-left: 15px;
		position: relative;

		&:before {
			content: "";
			@include positionElement(4px, 4px, 0, 8px);
			background: $blackColor;
			border-radius: 100%;
		}
	}
}

.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover {
	position: relative;
}

.img-cover img {
	@include boxSchemeImgFull();
}




h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-family: "medium";
	margin: 0;
	padding: 0;
	line-height: 1.1;
}


h1 {

	font-size: $largeSize;

	&.color {
		color: $orangeColor;
	}

	&.global {
		margin: 60px auto 30px;
		max-width: 1250px;
		font-size: $hugeSize;
		padding: 0 30px;
	}
}


h2 {
	font-size: $middleSize;
}


.main-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
	padding: 0 30px;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.social {
	display: inline-block;
	vertical-align: middle;

	i {
		display: inline-block;
		width: 20px;
		height: 20px;
	}

	.vk {
		@include bgImageEl("../images/social/v-b-2.svg");

		&:hover {
			background-image: url("../images/social/v-or-2.svg");
		}
	}

	.inst {
		@include bgImageEl("../images/social/i-b-2.svg");

		&:hover {
			background-image: url("../images/social/i-or-2.svg");
		}
	}

	.fb {
		@include bgImageEl("../images/social/f-b.svg");

		&:hover {
			background-image: url("../images/social/f-or.svg");
		}
	}

	a {
		display: inline-block;
		margin: 0 5px;

		img {
			object-fit: cover;
			width: 20px;
			height: 20px;
		}
	}
}

.canvas-container {}

#canvas {

	margin: 0 auto;
	display: block;
}

.wrapper,
header {
	transition: ease-out 0.25s;
	filter: blur(0px);
}

.blur {
	filter: blur(10px);
}