@font-face {
	font-family: "regular";
	src: url("../fonts/Rubik-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bold";
	src: url("../fonts/Rubik-Bold.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "medium";
	src: url("../fonts/Rubik-Medium.ttf");
	font-weight: normal;
	font-style: normal;
}