input,
textarea,
.custom-select {
  width: 100%;
  padding: 6px 15px;
  font-size: $smallSize;
  font-family: inherit;
  border-radius: 6px;
  border: solid 1px $grayColor;
  background: $whiteColor;
  resize: none;

  &.btn {
    border: 0;
  }
}


/* -----custom-select-----*/

.custom-select {
  cursor: pointer;
  position: relative;

  &.active {
    z-index: 3;
    border-radius: 5px 5px 0 0;
    border-color: $blackColor;
  }

  span {
    position: relative;
    z-index: 2;
    color: inherit;
  }

  i {
    @include bgImageEl("../images/down.png");
    @include positionElement(12px, 12px, 8px, 9px, right, top, 2);
  }

  &.active i {
    transform: rotate(90deg);
  }

  ul {

    @include positionElement(100%, auto, -2px, 100%);

    padding: 0;
    margin: 0;

    opacity: 0;
    visibility: hidden;

    background: $whiteColor;
    overflow: hidden;

    list-style: none;
    border-radius: 0 0 5px 5px;
    border: solid 2px $whiteColor;
    border-top: 0px;

  }

  li {
    cursor: pointer;
    list-style: none;
    padding: 4px 0px;

    &:hover {
      background: $grayColorLite;
    }
  }

  &.active ul {
    visibility: visible;
    opacity: 1;
    border-color: $whiteColor;
  }
}

/*-----custom-select-----*/

/* -----style checkbox-----*/
.checkbox {
  position: relative;
  font-size: 0;
  padding: 0 0 8px;
  display: inline-block;

  span {
    display: inline-block;
    margin-top: -2px;
  }

  input {

    appearance: none;
    border: 1px solid $blackColor;
    border-radius: 100%;
    outline: none;
    cursor: pointer;

    padding: 0;
    margin: 0;

    @include positionElement(15px, 15px);
  }

  label {
    position: relative;
    display: inline-block;
    font-size: $standartSize;
    color: $blackColor;
    padding-left: 23px;
    width: calc(100% - 30px);
  }

  input:checked+span::before,
  input:checked+label::before {
    content: "";
    border-radius: 100%;
    @include positionElement(7px, 7px, 4px, 4px);
    background: $blackColor;
  }
}




/* -----style checkbox-----*/
/* -----popup-----*/
.popup-wrapper {
  @include positionElement(100%, 100%, 0, 0, left, top, 3, flex, fixed);
  background: $blackColor;
  display: none;
}

.popup-container {
  width: 520px;
  position: relative;
  margin: auto;
  background: $whiteColor;
  font-size: $smallSize;
  border-radius: 8px;
  overflow: hidden;

  .close {
    @include positionElement(24px, 24px, 0, 0, right);
    @include bgImageEl("../images/close-white.png");
    margin: 15px;
    cursor: pointer;
  }

  h2 {
    font-size: $mediumSize;
    margin: 0 0 15px;
  }

  .pc-header {
    text-align: center;
    padding: 50px 15px 25px;
    background: linear-gradient(90deg, rgba(234, 163, 67, 1) 0%, rgba(234, 118, 118, 1) 100%);
    color: $whiteColor;

    p {
      margin: 0;
    }
  }

  .form {
    max-width: 390px;
    margin: 50px auto 30px;
  }

  input,
  textarea,
  .custom-select {
    padding: 13px 15px;
  }
}


/* -----popup-----*/